# Include documentation and license files
include README.md
include LICENSE
include pyproject.toml

# Include data
recursive-include gnrs *.json

# Include C
recursive-include gnrs/generation/cgenarris/src *.c *.h *.i
recursive-include gnrs/generation/cgenarris/doc *
recursive-include gnrs/generation/cgenarris *.txt *.md CMakeLists.txt

prune cases
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so
global-exclude *.dylib
global-exclude *.dll
global-exclude __pycache__
global-exclude .git*
global-exclude .DS_Store
global-exclude *.egg-info/* 