# Include documentation and license files
include README.md
include LICENSE
include pyproject.toml

# Include data
recursive-include gnrs/parser *.yaml
recursive-include gnrs/gnrsutil *.yaml

# Include C extension sources (cgenarris submodule)
recursive-include gnrs/cgenarris *.c *.h *.i *.txt *.md CMakeLists.txt VERSION

prune cases
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so
global-exclude *.dylib
global-exclude *.dll
global-exclude __pycache__
global-exclude .git*
global-exclude .DS_Store
global-exclude *.egg-info/*