numpy>=1.25.0,<2.0.0
ase
pymatgen>=2023.10.3
matplotlib
pyyaml
tqdm
packaging>=21.2
pyparsing==2.4.7
numba
spglib

mpi4py==3.1.5

torch>=1.12
mace-torch
fairchem-core
dscribe

build
twine
setuptools-scm[toml] 